

.btn:focus,.btn:active{
   outline: none !important;
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

/*
*
{
	
	border: solid 1px red;
}
*/

p
{
	font-size: 20px;
	
}

body
{
	
	
	/*liimgene-height:  1.25;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	padding-top: 85px;
}

strong {
    font-weight: 500;
}


h1
{
	
	box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-size:38px;
font-weight:100;
 text-transform: capitalize;
line-height:60px;
margin-bottom:15.5px;
margin-left:0px;
margin-right:0px;
margin-top:10px;
width: 100%;
text-size-adjust:100%;

-webkit-margin-after: 15.5px;
-webkit-margin-before: 10px;
-webkit-margin-end: 0px;
-webkit-margin-start: 0px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.btn-default
{
text-shadow: none;
border-radius: 50px;	
/*margin-bottom: 103px;*/
	border-color: rgba(255, 255, 255, 0.15);
	    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 2px rgba(255,255,255,0.15);
	
}




/*
.navbar-brand img {
    width: 240px;
    height: 51px;
    padding-left: 15px;
}
*/




.imge img
{
	
	width: 60%;
}





@media (max-width: 880px) and (min-width: 426px)
{
	
	
	#defaultNavbar1 .btn
{

    /*   width: 75px;
    height: 37px;*/
    padding: 10px;
    margin-top: 9px;
    font-size: 12px;
	margin-bottom: 50px;


}
	
	
}





@media (max-width: 425px)
{
	
	
	#defaultNavbar1 .btn
{

  
   
	margin-bottom: 50px;


}
	
	
}

















.easy-config img
{
	
	width: 350px; 
	display: block;
    max-width: 100%;
    height: auto;
	float: right;
}





.hand-img img

{
		
	width: 380px;    /*08-08-2017*/
	display: block;
    max-width: 100%;
    height: auto;
	float: right;

	
	
}



.small-logo-eb img
{
	
	 width: 22px;
	
}






/*

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{



font-weight: bold !important;

background: none;



}*/


/*.navbar-default .navbar-nav>li>a
{

font-weight: bold !important;
letter-spacing: 1.5px;





.navbar-brand, .navbar-nav > li > a
{

text-shadow: 0 0px 0px #ffffff !important;


}


}*/


.center

{


vertical-align: top;
text-align: center;
margin-top: 3px;





}

/*


.navbar-right {
margin-top: 10px;
text-align: center;
}







@media (min-width: 768px) {
.navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
font-size: 17px;

	}
}



@media (max-width: 767px) {
.navbar {
margin-bottom: 0px;

	}
}



.navbar
{
	border: none;
	
}







@media (max-width: 425px) {
.navbar-brand img {
width: 225px;

	}
}





@media (max-width: 425px) {
.navbar-nav>li>a {
font-size: 18px;

	}
}



.navbar-toggle
{
	
	    margin-bottom: 40px;
	margin-top: 20px;
	
}



.navbar .navbar-collapse {
text-align: center;
font-size: 18px;
}


*/


.bg-light {
    background-color: #fff!important;
}

.headerimg
{

width: 100%;
z-index: -1;
margin-bottom: -30px;



}


@media (max-width: 1440px) {
.headerimg {
margin-top: 50px ;
	}

}

.nav-link
{
	
	padding: .7rem 1rem;
}


.navbar-brand img
{
	
	width: 235px;
}


@media (max-width: 374px) {
	
	.navbar-brand img
{
	
	width: 182px;
}
	
}


/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #4285f4;
}






.btn-default
{


background-image: none !important;
font-size: 14px;
padding-left: 30px;
padding-right: 30px;
border-color: none;
height: 50px;
font-weight: 500;

}

#defaultNavbar1
{

font-size: 19px;
   
    

}

.navbar
{
	
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
	  padding: 1.5rem 2rem;
}




.navbar .btn
{
	
	margin-left: 6px;
}






.marginer
{
	
	margin-top: -5px;
}

@media (min-width: 768px){

.navbar-right {
   
    margin-right: 0;
}
}

.navbar-default
{


z-index: 9999;



width: 100%;

background-image: none;

background-image: none !important;
border-color: transparent;
border-radius: 0px;
background-color: transparent;
box-shadow: none;
top: 0;
left: 0;
padding-top: 19px;	
	
	

}


.container-full
		{
margin: 0 auto;
width: 100%;
padding: 0;
			
	}







@media (max-width: 768px) {
.navbar-collapse
{
	
	background: #fff;
	
	
}

}




.wtbanner
{
	

height: 100px;
z-index: 1;
margin-top: -100px;	



}

.wtbanner h6
{
	

color: #555;


}

.wtbanner h5
{
	

color: #4285f4;
/*font-family: 'Archivo Narrow', sans-serif;*/
letter-spacing: 3px;

}












@media only screen and (min-width: 426px) and (max-width:768px) {
.wtbanner
{
	
	padding-top: 230px;
	z-index: 1;
	
}

}


@media (max-width: 425px) {
.wtbanner
{
	
	margin-top: 100px;
	padding-left: 19px;
}

}



@media (max-width: 375px) {
.wtbanner
{
	
	margin-top: 100px;
	
}

}


@media (max-width: 320px) {
.wtbanner
{
	
	margin-top: 100px;
	font-size: 12px;
	z-index: 0;
	margin-bottom: 55px;
	
}

}



@media only screen and (min-width: 768px) and (max-width:2560px) {
.wtbanner 
{
	
	padding-top: 250px;
	z-index: 99;
	padding-left: 40px;
}

}


.section-bg{
	
	background: url(../images/easy_bg.jpg);
	width: 100%;
	height: auto;
	margin-top: 25px;
	padding: 25px 25px 25px 35px;
}





.easy-config-brand h6
{
	

color: #555;


}

.easy-config-brand h5
{
	

color: #4285f4;
/*font-family: 'Archivo Narrow', sans-serif;*/
letter-spacing: 1.5px;

}



.find-out-more
{
	

color: #4285f4;
/*font-family: 'Lato', sans-serif;*/
letter-spacing: normal;
text-decoration-style: dotted;
text-decoration-line: underline;
}










.righter
{
	
	text-align: left;
	
}


.right-float
{
	
	float: right;
	
}


.left-float

{
	
	float: left;
	
	
}




.text_aligner
{
	
	width: 90%;
	
}





@media (min-width: 1440px) {
.text_aligner
{
	
	width: 70%;
	
}

}



@media (min-width: 2560px) {
.text_aligner
{
	
	width: 50%;
	
}

}



@media (max-width: 767px) {
.text_aligner
{
	
	width: 100%;
	
}

}


.glyphicon
{
	
	    font-size: 0.8em;
	
}





.btngrey
{
	
	
	    color: #fff;
    background-color: #b7b7b7;
}



.easybgform{
	
	background: url(../images/easy_bg.jpg);
	width: 100%;

	
}


.easybgform h5
{
	
	
	font-size: 30px;
	font-weight: 700;
	/*font-family: 'Archivo Narrow', sans-serif;*/
	
}



.easybgform h6
{
	
	
	font-size: 40px;
	font-weight: 700;
	/*font-family: 'Archivo Narrow', sans-serif;*/
	
	
	
}





.easybgform span

{
	
	color: #aa001d;
	
}




.wider
{
	width: 80%;
	
}

.wider100
{
	width: 100%;
	
}


.heighter
{
	
	min-height: 400px;
	
}




.pager li>a, .pager li>span {
	
	float: right;
	font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    height: 46px;
	    color: #fff;
    background-color: #af0f2b;
	    padding-top: 12px;
}




.pager li>a:hover, .pager li>a:focus {

	background-color: #890c22;


}




.icon_selector
{
	
	
	height: 256px;
	width: auto;
	
	
	
	
}

#rootwizard
{
	
	
	height: 500px;
	
	
	
}

.padding-bottom
{
	
	padding-bottom: 20px;
	
	
	
}


.margin-bottom-text
{
	margin-bottom: 40px;
	
	
}


.cen
{
	
	
	text-align: center;
	
	
}

.noradio
{
	
	
	display: none;
	
}


.optioner
{
	
	margin-bottom: 20px;
	text-align: center;
	border-radius: 20px;
	height: auto;
}


.font-styler
{
	
	
	color: #4285f4;
/*font-family: 'Lato', sans-serif;*/
letter-spacing: normal;
text-transform: uppercase;

}


.btn 
{
	
	    text-transform: uppercase;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
	
}



.text_aligner h5
{
	
	text-transform: uppercase;
	
}





.font-styler h6
{
	
	text-transform: uppercase;
}





.b_btm1
{
	
	
	color: #444;
/*font-family: 'Lato', sans-serif;*/
letter-spacing: normal;


}








.orange-underline
{
	
	border-bottom: solid 5px #ff9f1c;
	width: 50px;
	border-radius: 20px;
	margin-bottom: 40px;
}











.btn-primary
{
	    background-color: #777;
		border: none;
		background-image: none;
	
}






.ht
{
	
	height: 600px;
}







@media (max-width: 425px) {
.ht
{
	
	height: 800px;
	
}

}



.header_img::before
{
	
	    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.15) 55%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
	left: 0;
	top:0;
	
}

.header_img
{
	background:url(../images/header_img.jpg);
	
    background-position: center center;
    background-size: cover;
    height: 100vh;
	margin-top: -124px;
	
}


.herocover
{
	   /*height: calc(100% - 770px);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 30px;
	
}







@media (max-width: 768px) {
.herocover
{
	
	height: 15vh;
	
}

}


.herocover h1
{
	
	line-height: 50px;
	font-weight: 400;
	margin-bottom: 10px;
}





.herocover h2
{
	

color: #252525;
width: 60%;
word-wrap: normal;
word-break: normal;
text-shadow: 0 0 25px #ffffff;
font-size: 22px;
	margin-top: 0px;
	font-weight: 400;
}




@media (max-width: 767px) {
.herocover h6
{
	
	width: 95%;
	
}

}









.herocover h5
{
	

color: #4285f4;
/*font-family: 'Archivo Narrow', sans-serif;*/
letter-spacing: 2px;

}




.herocover h4
{
	

color: #4285f4;
/*font-family: 'Archivo Narrow', sans-serif;*/
letter-spacing: 2px;

}




.herocover h1
{
	

color: #4285f4;
/*font-family: 'Archivo Narrow', sans-serif;*/


}








.herocover .margin-top
{
	margin-top: 25px;
	
	
}

.easybgform span
{
	
	margin-right: 10px;
	
}











.form-group {
    
    margin-top: 10px;
}















.centerr {
  margin: 0 auto;
  width: 90%;
	text-align: center;
}

.centerr label
{
	
	font-size: 16px;
	word-wrap: normal;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}






.centerr input[type="checkbox"] {
  position: relative;
  display: inline-block;
  height: 120px;
  width: 170px;
  background: #E0E0E0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
	cursor: pointer;
	border-radius: 7px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.centerr input[type="checkbox"]:after { 
  content: ''; 
  font-size: 2em;
  text-align: center;
  line-height: 70px;
  color: #555555;
  position: absolute;
  margin: auto auto;
  left: 0; right: 0; bottom: 0; top: 0;
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
	
	
	
	
	
 }


.centerr input[type="checkbox"]:hover { 
	
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);	
	
	
}




.centerr input[type="checkbox"]:before { 
  position: absolute;
  margin: auto auto;
  left: 0; right: 0; bottom: 0; top: 0;
  content: '';
  display: block; 
  height: 95px;
  width: 95px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
	
	
	
}

.centerr input[type="checkbox"]:hover:before {
     height: 80px;
    width: 80px;
}

.centerr input[type="checkbox"]:checked:before {
  height: 100%;
  width: 100%;
  background: #af0f2b;
  border: none;
  border-radius: 7px;
}

.centerr input[type="checkbox"]:focus {
  outline: none;
}

.centerr input[type="checkbox"].a:after { background-image: url(../images/msword.svg ); width: 70px; height: 70px; background-size: 50px 50px; display: inline-block; content:'';  } 
.centerr input[type="checkbox"].b:after { background-image: url(../images/msexcel.svg ); width: 70px; height: 70px; background-size: 50px 50px; display: inline-block; content: ''; }
.centerr input[type="checkbox"].c:after { background-image: url(../images/mspp.svg ); width: 70px; height: 70px; background-size: 50px 50px; display: inline-block; content: ''; }
.centerr input[type="checkbox"].d:after { background-image: url(../images/msout.svg ); width: 70px; height: 70px; background-size: 50px 50px; display: inline-block; content: ''; }

.centerr input[type="checkbox"]:checked:after { content: ''; } 



.brandred

{
	
	background-color: #af0f2b;
	
	
}


.brandred:hover
{
	
	background-color: #8B0A21;
	
}


.brandred:active
{
	
	background-color: #8B0A21;
	
}


.btn-default.brandred:active
{
	
	background-color: #8B0A21;
	
}





.brandred:focus
{
	
	background-color: #8B0A21;
	
}

.branded::target
{
	
	background-color: #8B0A21;
	
}

.htform
{
	
	height: 100vh;
	
	
}






@media (max-width: 768px) {
.htform
{
	
	height: auto;
	
}

}









.dt
{
	
	border: 1px dashed #000;
	
}




.bigfont
{
	
	font-size: 26px;
	
}



.btnbig
{
	
	width: 45%;
	height: 60px;
		font-size: 20px;	
	
}





@media (max-width: 425px) {
.btnbig
{
	
	width: 80%;
	font-size: 15px;
}

}












label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #af0f2b;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #af0f2b;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}







.mrt
{
	
	margin-top: 18px;
	
}




.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 15%;
	margin-top: 12px;
}



.input-group-btn span
{
	
	color: #fff !important;
	padding-top: 12px;
	
	
}

















.text {
   width: 100%;
   text-align: center;
   margin-top: 20px;
   height: 70px;
}

.area {
   width: 100%;
   float: left;
   margin-top: 15px;
}

.area .input,
.area .input label {
   width: 100%;
   float: left;
   position: relative;
}

.area .input {
   overflow: hidden;
   border-radius: 2px;
   color: #fff;
  background-color: #cfd8dc;
   box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
}

.area .input input {
   display: none;
}

.area .input label {
   font-weight: 400;
   color: #fff;
   text-align: center;
   text-transform:uppercase;
   cursor: pointer;
   font-size: 14px;
   z-index: 3;
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
   height: 130px;
   line-height: 135px;
}

.area .input:hover{
  /* box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.18), 0 10px 15px 0 rgba(0, 0, 0, 0.15);	   
	   
	   
	   
}
.area .input label:hover {
   letter-spacing: .8px;
   
}

.click-efect {
   position: absolute;
   top: 0;
   left: 0;
   /*background: rgba(0, 0, 0, 0.2);*/
	background: #af0f2b;
   border-radius: 50%;
}

.containerB {
   width: 50%;
   max-width: 800px;
    position: relative;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);         
   -webkit-transform:translate(-50%,-50%);
   -ms-transform:translate(-50%,-50%);

}

.col-3B {
   width: 225px;
	height: 125px;
	margin-bottom: 25px;
   float: left;
   padding: 0 10px;
}






@media (max-width: 320px) {
.col-3B 
{
	
	width: 100%;

}

}













@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);
*,
*:after,
*::before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}






.col-3B img
{
	
	
	width: 40%;
	
	
}












/*08-08-2017*/


.featured-blue {
   width: 100%;
    height: 361px;
    background: #4285f4;
    
    float: right;
}





.featured-dark {
   width: 100%;
    height: 361px;
    background: #4c4c4c;
        z-index: 5;
    float: left;
}









.left-skew {
          position: relative;
}


.left-skew:before
{
	
	z-index: 5;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -122px;
    display: block;
    width: 200px;
    background: #4285f4;
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
	
}








.right-skew {
          position: relative;
}


.right-skew:before
{
	
	z-index: 5;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -102px;
    display: block;
    width: 200px;
    background: #4c4c4c;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
	
}










@media (max-width: 767px) {
.right-skew:before
{
	
	position: fixed;
	width: 0px;
	right: 0px;

}

}





@media (max-width: 767px) {
.featured-dark
{
	
	height: auto;

}
	
	
	
	.featured-blue
	{
		height: auto;
		
	}

}













@media (max-width: 425px) {
.left-skew:before
{
	
	width: 0;

}

}






@media (max-width: 767px) {
.img-right img
{
	
	width: 100%;

}

}



@media (max-width: 767px) {
.img-left img
{
	
	width: 100%;

}

}








@media screen and (min-width: 426px) and (max-width: 767px){
.featured-blue
{
	
	width: 100%;

}

}





@media screen and (min-width: 769px) and (max-width: 1024px){
.featured-blue
{
	
	width: 92%;

}

}










@media screen and (min-width: 426px) and (max-width: 767px){
.featured-dark
{
	
	width: 100%;

}

}











@media screen and (min-width: 769px) and (max-width: 1024px){
.featured-dark
{
	
	width: 80%;

}

}












.htr
{
	
	height: 480px;
	
}

.marr {
    margin-bottom: 118px;
}


.img-right img
{
	
	display: block;
    /*max-width: 100%;*/
    height: auto;
	float: right;
	margin-bottom: 25px;
}



.img-left img
{
	
	display: block;
    /*max-width: 100%;*/
    height: auto;
	float: left;
}




.pad-left
{
	
	
	padding-left: 0;
	    padding-right: 0;
}

.pad-right
{
	
	padding-right: 0;
	    padding-left: 0;
}








.margin-bottom
{
	
	
	margin-bottom: 60px;
	
	
}

.mrtp
{
	
	
	margin-top: -25px;
	
}


.featured-blue p
{
	
	  

    color: #fff;
    height: auto;
   
    z-index: 8;
    position: relative;
}



.featured-dark p
{
	
	  

    color: #fff;
    height: auto;
   padding-left: 25px;
    z-index: 8;
    position: relative;
}




.featured-dark h1
{
	
	
	padding-left: 25px;
	margin-top: 25px;
	color: #fff;
	height: auto;
	    z-index: 8;
    position: relative;

	font-size: 40px;
}







.featured-blue h1
{
	
	
	
	margin-top: 25px;
	color: #fff;
	height: auto;
	    z-index: 8;
    position: relative;
	
	font-size: 40px;
}









@media screen and (max-width: 769px){
.featured-blue h1
{
	
	
	
	   font-size: 26px;
	 padding-left: 25px;
}

}




@media screen and (max-width: 769px){
.featured-blue p
{
	
	
	
	   font-size: 17px;
	    padding-left: 25px;
		padding-right: 15px;
}

}




@media screen and (max-width: 769px){
.featured-dark h1
{
	
	
	
	   font-size: 26px;
	 padding-left: 25px;
}

}




@media screen and (max-width: 769px){
.featured-dark p
{
	
	
	
	   font-size: 17px;
	    padding-left: 25px;
		padding-right: 15px;
}

}











ul {
  list-style-type: none;
	text-align: center;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}





.labeler {
  
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
	text-align: center;
	background: #cfd8dc;
	width: 230px;
	padding: 40px;
	    border-radius: 10px;
}


.labeler:hover{
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.18), 0 10px 15px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: 300ms;
	transition: 300ms;
}





.labeler:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #4285f4;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.labeler img {
  height: 75px;
  width: 75px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .labeler {
  background-color: #af0f2b;
}

:checked + .labeler:before {
  content: "✓";
  background-color: #4285f4;
  transform: scale(1);
}

:checked + .labeler img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */

}



@media screen and (max-width: 769px){
.imghider
{
	
	display: none;
	
	
}
}




@media screen and (max-width: 426px){
.labeler
{
	
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
	
	
}
}




@media screen and (max-width: 768px){
.labeler
{
	
	width: 250px;
	
	
}
}



@media screen and (min-width: 769px) and (max-width: 1024px){
.labeler
{
	
	width: auto;
	
	
}
}








@media screen and (max-width: 768px){
.btnbig
{
	
	width: auto;
	
}
}












/*10-08-2017*/








.carousel-control 			 { width:  0%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}

















.thumbnail
{
	
	border-radius: 0px 20px 0px 20px;
	
	
	
}


.bluebgtest img
{
	
	max-width: 50%;
    border-radius: 100%;
	padding: 5px;
	margin-top: 20px;
}



.bluebgtest
{
	
	
	background-color: #4285f4;
	padding: 12px;
	
}


.testi h5
{
	text-align: center;
	font-size: 22px;
	color: #2c2c2c;
	
	
	
}

.testi h4
{
	text-align: center;
	font-size: 22px;
	color: #4285f4;

	
	
}



.testi p
{
	text-align: center;
	font-size: 16px;
	color: black;
	word-wrap: normal;
	padding: 5px;
	
}



@media screen and (max-width: 320px){
.carousel
{

width: fit-content;


}


.carousel-control.right
{

right: -18px;


}


.carousel-control{


left: -18px;
}	





}



.bluebgtest h1
{
	
	text-align: center;
	color: #fff;
	padding-bottom: 25px;
	font-size: 40px;
	
}

























/*

FOOTER
*/






footer { background-color:#0c1a1e; min-height:430px;      padding-top: 25px;    }
.footerleft { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important;    margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px; width: 100%; text-align: left;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}


.testi
{
	
	padding-right: 0px;
	
}

.logo_sizer img
{
	
	width: 200px;
	
}












.has-error {
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


.error
{
color: red; 
	text-align: right;
}




input[type="radio"]{
 display: none;
}


.fa-2x {
    font-size: 1.3em;
}











.slide {
    width: 100%;
}







.img-resp img {
	
  display: block;
  max-width: 100%;
  height: auto;
	
}
	
	



@media (max-width: 425px) {
.navbar-default
{
	

	    margin-top: 0;

}

}


@media (min-width: 361px) and (max-width:425px){
.herocover {
        height: 35vh;
}
}



@media (min-width: 320px) and (max-width:360px){
.herocover {
        height: 50vh;
}
}


@media (min-width: 426px) and (max-width:767px){
.herocover {
        height: 30vh;
}
}


@media (min-width: 769px) and (max-width:800px){
.herocover {
        height: 10vh;
}
}






.section-hero
{
	
	
    background-image: url(../images/header_img.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    height: 100vh;

	
	
}

.section-hero::before
{
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.15) 55%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}





.nav-fonts
{
	
	/*font-family: 'Lato', sans-serif;*/
	font-size: 12px;
	font-weight: 500;
}







.solution_header
{
	text-align: center;
	background-color: #4285f4;
	min-height: 300px;
	color: #fff;
	background-image: url(../images/circles.jpg);
	/*box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);*/
}




.active
{
	
	color: #4285F4;
}





.solution_header h1
{
	
	
	margin-top: 10px;
	/*font-family: 'Archivo Narrow', sans-serif;*/
	font-size: 44px;
}




.solution_header p
{
	
	padding-bottom: 50px;
}





.solution_header img
{
	
	width: 100px;
	padding-top: 35px;
	
}






.solution_two
{
	
	text-align: center;
	background: url(../images/easy_bg.jpg);
	padding-top: 25px;
}


.solution_two h1
{
	
	
	
	color: #4285F4;
	font-weight: normal;
	/*font-family: 'Archivo Narrow', sans-serif;*/
	    font-size: 28px;
	
}



.solution_two p
{
	
	
	text-align: justify;
	
}


@media (max-width: 425px){

.solution_two p {
    font-size: .8em;
    padding: 10px 10px;
	text-align: justify;
}

}





.solution_three
{
	
	text-align: center;
	background-color: #fff;
	min-height: 300px;
	color: #4c4c4c;

	
	
}




.solution_three h1
{
	
	

	color: #4285F4;
	font-weight: normal;
	/*font-family: 'Archivo Narrow', sans-serif;*/
	margin-bottom: 25px;
	font-size: 28px;
}



.solution_three h2
{
text-align: left;
font-weight: bold;
font-size: 20px;
}

.solution_three li
{
	
	padding-left: 5px;
	float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
	
}


.solution_three span
{
	
	letter-spacing: 0.2px;
    line-height: 22px;
	text-align: justify;
	float: left;
    width: 90%;
	font-size: 16px;
	padding-left: 16px;
}


.solution_three i
{
	
	float: left;
    width: 10%;

}


.solution_three p
{
	
	font-size: 18px;
	text-align: justify;
	
	
}








.solution_four
{
	
	text-align: center;
	background-color: #fff;
	min-height: 300px;
	color: #4c4c4c;
	
	
	
}




.solution_four h4
{
	
	
	text-transform: uppercase;
	color: #4285F4;
	font-weight: bold;
	/*font-family: 'Archivo Narrow', sans-serif;*/
	margin-bottom: 25px;
	
}



.solution_four h2
{
text-align: left;
font-weight: bold;
	font-size: 20px;
}

.solution_four li
{
	
	padding-left: 5px;
	float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
	
}


.solution_four span
{
	
	letter-spacing: 0.2px;
    line-height: 22px;
	text-align: justify;
	float: left;
    width: 90%;
	font-size: 16px;
	padding-left: 16px;
}


.solution_four i
{
	
	float: left;
    width: 10%;

}


.solution_four p
{
	
	font-size: 18px;
	text-align: justify;
	
	
}





.solution_five
{
	
	text-align: center;
	background-color: #fff;
	min-height: 300px;
	color: #4c4c4c;
	margin-bottom: 25px;
	
	
}




.solution_five h4
{
	
	
	text-transform: uppercase;
	color: #4285F4;
	font-weight: bold;
/*font-family: 'Archivo Narrow', sans-serif;*/
	margin-bottom: 25px;
	
}



.solution_five h5
{
text-align: left;
font-weight: bold;
}

.solution_five li
{
	
	padding-left: 5px;
	float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
	
}


.solution_five span
{
	
	letter-spacing: 0.2px;
    line-height: 22px;
	text-align: justify;
	float: left;
    width: 90%;
	font-size: 16px;
	padding-left: 16px;
}


.solution_five i
{
	
	float: left;
    width: 10%;

}


.solution_five p
{
	
	font-size: 18px;
	text-align: justify;
	
	
}







.home-cover h4
{
	
	text-align: center;
	color: #fff;
	font-size: 22px;
	
}


.home-cover
{
	
	    background-color: #4285f4;
	background-image: url(../images/circles.jpg);
	
    min-height: 240px;
    color: #fff;
	text-align: center;
	color: #fff;

}


.home-cover img {
    width: 100px;
    padding-top: 35px;
}


.home-cover h1 {
    
    padding-top: 48px;
   margin-top: 0px;
	line-height: normal;
}





.home-feature-container img
{
	
	
	height: 350px;
	    max-width: 100%;
	
	    display: block;
    

	  
  
    margin: -65px auto 0 auto;
  
    border: 4px solid #f7f7f7;
	border-radius: 10px;
	    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
	
}



@media only screen and (max-width: 767px){
	
	
	.home-feature-container img
{
	width: 100%;
	max-width: 100%;
	margin: -10px auto 0 auto;
	
	}
	
	
}




.hero-tag p
{
	
	    letter-spacing: -0.5px;
    font-size: 38px;
    margin-bottom: 40px;
	font-weight: lighter;
	color:#2b2b2b;
	text-align: center;
	margin-top: 35px;
	
}





.hero-tag-btn a
{
	
	display: block;
	text-align: center;
}










@media only screen and (max-width: 767px){
	
	
	.home-feature-container
{
	
	margin-top: 0px;
	width: 100%;
	
	
	}
	
	
		.home-cover h1
{
	
	font-size: 42px;
	padding-bottom: 30px;
	    padding-top: 28px;
	}
	
	
	
	.how-it-works
	{
		
		min-height: 440px !important;
		
	}
	
	
	
	
	
}






.pricing-table h4
{
	
	text-align: center;
	color: #fff;
	font-size: 22px;
	
}


.pricing-table
{
	
	    background-color: #4285f4;
	background-image: url(../images/circles.jpg);
	
    min-height: 300px;
    color: #fff;
	text-align: center;
	color: #fff;
	box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}


.pricing-table img {
    width: 100px;
    padding-top: 35px;
}


.pricing-table h1 {
    
    margin-top: 10px;
    /*font-family: 'Archivo Narrow', sans-serif;*/
	line-height: normal;
}









.feature-table h4
{
	
	text-align: center;
	color: #fff;
	font-size: 22px;
	
}


.feature-table
{
	
	    background-color: #4285f4;
	background-image: url(../images/circles.jpg);
	
    min-height: 300px;
    color: #fff;
	text-align: center;
	color: #fff;
	
}


.feature-table img {
    width: 100px;
    padding-top: 35px;
}


.feature-table h1 {
   
    margin-top: 10px;
    /*font-family: 'Archivo Narrow', sans-serif;*/
	line-height: normal;
}




















.pricing-table-2
{
	
	padding: 25px 25px;
	
	
}

.pricing-table-bg
{
	
	background: url(../images/easy_bg.jpg);
	
}


.pricing-table-bg .header 
{
	
	text-transform: uppercase;
	
}


.pricing-table-bg .header2
{
	
	text-transform: uppercase;
	
}



.pricing-table-bg .header3 
{
	
	text-transform: uppercase;
	
}








.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
	
}


.columns .btn
{
	
	text-transform: uppercase;
}

.price {
    list-style-type: none;
    border: 2px solid #4285f4;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
	    border-radius: 0px 20px 0px 20px;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(66, 133, 244, 0.5);
}

.price .header {
    background-color: #4285f4;
    color: white;
    font-size: 25px;
	border-radius: 0px 15px 0px 0px;
}






.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
	background-color: #fff;
}







.price-orange {
    list-style-type: none;
    border: 2px solid #ff9f1c;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
	border-radius: 0px 20px 0px 20px;
}

.price-orange:hover {
    box-shadow: 0 8px 12px 0 rgba(255, 159, 28, 0.5);
}




.price-orange .header2 {
    background-color: #ff9f1c;
    color: white;
    font-size: 25px;
	border-radius: 0px 15px 0px 0px;
}




.price-orange li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
	background-color: #fff;
}







.price-red {
    list-style-type: none;
    border: 2px solid #aa001d;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
	border-radius: 0px 20px 0px 20px;
}

.price-red:hover {
    box-shadow: 0 8px 12px 0 rgba(170, 0, 29, .5);
}


.price-red .header3 {
    background-color: #aa001d;
    color: white;
    font-size: 25px;
	border-radius: 0px 15px 0px 0px;
}





.price-red li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
	background-color: #fff;
}














.price .blue-c {
    
    font-size: 30px;
	color: #4285f4;
}



.price-orange .orange-c {
    
    font-size: 30px;
	color: #ff9f1c;
}



.price-red .red-c {
 
    font-size: 30px;
	color: #aa001d;
}




.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.pricing-table-2 li
{
	
	display: inherit;
}

.btn-orange .btn
{
	background-color: #ff9f1c;
	
}



.btn-orange .btn:focus
{
	background-color: #ff9f1c;
	border-color:#ff9f1c;
}







.btn-red .btn
{
	background-color: #aa001d;
	
}

.btn-red .btn:focus
{
	background-color: #aa001d;
	border-color: #aa001d;
}





.custom-pack
{
	padding-top: 45px;
	text-align: center;
	/*font-family: 'Lato', sans-serif;*/
	color: #4285f4;
	font-weight: bold;
}



.curver
{
	border-radius: 0px 0px 0px 20px;
	
}


.pricing_questions
{
	
	min-height: 200px;
	background-color: #4285f4;
	
}


.pricing_questions h3
{
	
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 50px;
	    font-weight: 300;
	font-size: 30px;
}



.faqs-questions
{
	
	min-height: 200px;

	
}


.faqs-questions h3
{
	
	    letter-spacing: -0.5px;
    font-size: 38px;
    margin-bottom: 50px;
    font-weight: lighter;
    color: #2b2b2b;
    text-align: center;
    margin-top: 35px;
	text-transform: capitalize;
}



.faq-questions-container
{
	
	
}

.faq-questions-container p
{
	
	
	text-align: justify;
	margin-top: 10px;
	padding-bottom: 10px
	
}

.faq-questions-container strong
{
	
	
	
	
}









.questions-div
{
	
	
}

.questions-div p
{
	
	color: #fff;
	text-align: justify;
	margin-top: 10px;
	padding-bottom: 10px
	
}

.questions-div strong
{
	
	color: #fff;
	
	
}



.try-out
{
	
	

	min-height: 200px;
	
	
}




.try-out h1
{
	text-align: center;
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: 300;
    margin-top: 50px;
    color: #2b2b2b;

}


.try-btn
{
	
	text-align: center;
	padding-top: 5px;
	padding-bottom: 50px;
}



.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
	z-index: 2;
}






//pricing new (featues table)


 table.plan td{ 
  text-align: center;
}

table.plan tr:first-child { 
  text-align: left;
 }




.table-pad
{
	
	padding-left: 15px;
	padding-right: 15px;
}



@media only screen and (max-width: 425px) {
    .mobile-pad
{
	padding-left: 15px;
	padding-right: 15px;
	
}

}



@media screen and (max-width: 767px){

.table-responsive {
   
    border: none; 
}



}



.table-bordered {
    border: none;
}


.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: none;
}




.mobile-pad td
{
	
	font-size: 16px;
}



.mobile-pad h2
{
	font-size: 24px;
	color: #4285F4;
		/*font-family: 'Archivo Narrow', sans-serif;*/
	  
}

.mobile-pad h5
{
	font-size: 24px;
	color: #4285F4;
		/*font-family: 'Archivo Narrow', sans-serif;*/
	  text-align: center;
}












.table-content-left
{
	
	text-align: left !important;
	text-transform: uppercase;
}



.table-hover>tbody>tr:hover {
    background-color: #4285F4;
	color: #fff;
}





.modal-body span
{
	margin-right: 7px;
	
}


.text-left
{
	
	text-align: left;
}



.features-addons
{
	
	background: url(../images/easy_bg.jpg);
	min-height: 200px;
	
}

.features-addons h4
{
	
	text-align: center;
	padding-top: 25px;
	
	color: #607D8B;
	
	
	
	
}



.feature-img-1
{
	
	    display: flex;
    justify-content: flex-start;
	background: #f9f9f9;
	box-shadow: 0 8px 0px rgba(0, 0, 0, 0.15);
	margin-top: 30px;
}













.feature-img-1:hover
{
	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25);	
	transition: box-shadow .4s ease-in;
	cursor: pointer;
}




.feature-img-1 img
{
	text-align: center;
	width: 30%;
	    padding-right: 15px;
	padding-left: 15px;
	
}


.dynamic-addon h4
{
	
	color: #4285f4;
	font-size: 24px;
	
	padding-right: 15px;
	text-align: left;
}



.dynamic-addon p
{
	text-align: left;
	margin-bottom: 50px;
	word-break: normal;
	padding-right: 15px;

}


.dynamic-addon span
{
	
	float: right;
}





.mobile-pad 
{
	
margin-top: 40px;
	
}





.mobile-pad th:nth-child(n+2) {
   
	text-align: center;
	
}


.mobile-pad thead
{
	
	width: 100%;
	
}


.mobile-pad tr
{
	
	width: 100%;
}


.mobile-pad td:first-child {
    text-align: left;
	text-transform: capitalize;
}

.mobile-pad th
{
	
	color: #4285f4;
	font-size: 24px;
	text-transform: uppercase;
}

.table-first-col
{
	
	width: 50%;
}




.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td

{
	vertical-align: middle;
	
}



.how-it-works
{
	
	    background-color: #4285f4;
	background-image: url(../images/circles.jpg);
	min-height: 370px;
    color: #fff;
	text-align: center;
	/*box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);*/
}


.how-it-works h4
{
	
	text-align: center;
	color: #fff;
	font-size: 22px;
	
}



.how-it-works h1 {
   
    margin-top: 10px;
    /*font-family: 'Archivo Narrow', sans-serif;*/
}




.how-it-works img {
    width: 100px;
    padding-top: 50px;
}



.how_page_bg
{
	
	background: url(../images/easy_bg.png);
	min-height: 480px;
	
}


.first-circle-of-how
{
	
	position: absolute;
    top: -80px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 280px;
    height: 280px;
	z-index: 1;
	
}

.first-circle-of-how img
{
	
	max-width: 100%;
    height: auto;
	padding-left: 25px;
	padding-right: 25px;
}





.opti-logo img
{
	
	width: 110px;
}



.testimonial-section p
{
	text-align: center;
	padding-bottom: 40px;
}



.steps-box
{
	
	display: flex;
    justify-content: flex-start;
    background: #ecebeb;
    box-shadow: 0 8px 0px rgb(66, 133, 244);
    margin-top: 83px;
	width: 100%;
	height: 360px;
    margin-bottom: 120px;
	z-index: -10;
	    border-radius: 20px;
}




@media only screen and (min-width: 426px) and (max-width: 1023px)
{
	
	.first-circle-of-how
	{
		
		padding: 0;
			top:-80px;
		
		
	}
	
	
	
	
	
}




.steps-box h1

{
	
	font-size: 25px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	margin-top: 58px;
	font-weight: normal;
	    color: #aa001d;
	
}



@media only screen and (max-width: 426px)
{
	
	.steps-box h1
	{
		
		margin-top: 75px;
		
		
	}
	
	
	
	
	
}






@media only screen and (max-width: 426px)
{
	
	.steps-box
	{
		
		min-height: 360px;
		
		
	}
	
	
	
	
	
}





@media only screen and (min-width: 992px) and (max-width: 1199px)
{
	
	.first-circle-of-how
	{
		left: -20px !important;
		
		
	}
	
	.steps-box
	{
		
		height: 400px;
	}
	
	
	
	
}



.blue-c-addon
{
	
	color: #4285f4;
	font-size: 20px;
}


.orange-c-addon
{
	
	color: #ff9f1c;
	font-size: 20px;
}


.red-c-addon
{
	
	color: #aa001d;
	font-size: 20px;
}




@media only screen and (min-width: 427px) and (max-width: 768px)
{
	
	.steps-box h1
	{
		
		margin-top: 100px;
		
		
	}
	
	
	
	
	
}


.steps-box p
{
	

	font-size: 20px;
	
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}



/*
@media (max-width: 1023px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}*/



.logofooter img

{
	
	    width: 200px;
}




.modal-section
{
	
	    z-index: 10000;
	
}




.company-logos
{
	
	min-height: 450px;
padding-bottom: 50px;
}



.company-logos h1
{
letter-spacing: -0.5px;
    font-size: 38px;
    margin-bottom: 40px;
    font-weight: lighter;
    color: #2b2b2b;
    text-align: center;
    margin-top: 35px;
}


.logos-container
{
	text-align: center;
}



.company-logos img
{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%) ;
	margin-bottom: 75px;
	    width: 150px;
    
    display: inline-block;
	
	margin: 30px;
	
}


.company-logos img:hover
{
	filter: none;
	cursor: pointer;
	
}



.company-logos-height img
{
	
	height: 55px;
	width: auto;
	
}











 
.testimonial{
    text-align: center;
}
.testimonial .testimonial-content{
    padding: 30px 50px;
    background: #4285f4;
    border-radius: 0 100px;
    position: relative;
    margin: 0 10px 35px;
}
.testimonial .testimonial-content:after{
    content: "";
    position: absolute;
    border-top: 10px solid #4285f4;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -9px;
    left: 47%;
}
.testimonial .description{
    font-size: 14px;
    color: #fdfffc;
    line-height: 25px;
    margin: 0;
}
.testimonial .pic{
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .testimonial-title{
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: #011627;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #ff9f1c;
}
.owl-theme .owl-controls{
    /*border-top: 1px solid #d5d5d5;*/
    margin-top: 40px;
    padding-top: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ff9f1c;
    border-radius: 4px;
    opacity: 1;
    padding: 0;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: 'FontAwesome';
    color: #fdfffc;
}
.owl-next:before{
    content: "\f054";
}
.owl-prev:hover:before,
.owl-next:hover:before{
    color: #011627;
}



.testimonial-section
{
	
	margin-top: 40px;
	padding-bottom: 50px;
	
}



.testimonial-section h1
{
	
	    text-align: center;
    font-size: 50px;
    padding-bottom: 0px;
    font-weight: 300;
    /* font-family: 'Archivo Narrow', sans-serif; */
    color: #2b2b2b;
}


.case-studies h1
{
	
	    text-align: center;
    font-size: 50px;
    
    font-weight: 300;
    
    color: #2b2b2b;
}



.case-studies h4

{

color: #4285f4;
font-size: 28px;
text-align: center;
font-weight: 500;
box-sizing: border-box;

display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: 10px;

text-transform: capitalize;
line-height: 60px;

margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
text-size-adjust: 100%;

  


}









.case-studies p 
{
	
	    text-align: center;
}






.case-study-container
{
	
	    display: flex;
    justify-content: flex-start;
	background: #f9f9f9;
	box-shadow: 0 8px 0px rgba(0, 0, 0, 0.15);
	margin-top: 30px;
	    height: 550px;
	border-radius: 15px;
}




.case-study-container:hover
{
	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25);	
	transition: box-shadow .4s ease-in;
	cursor: pointer;
}




.case-study-container img
{
	text-align: center;
	width: 100%;
	border-radius: 15px 15px 0 0;
	
}



.case-study h1
{
	
	color: #4285f4;
	font-size: 30px;
	
	
	text-align: center;
}



.case-study p
{
	text-align: center;
	margin-bottom: 50px;
	word-break: normal;
	

}




.case-study-more
{
	
	text-align: center;
	padding-bottom: 50px;
}


.about-section
{
	
	margin-bottom: 50px;
}



.about-section h1
{
	
	    letter-spacing: -0.5px;
    font-size: 38px;
    margin-bottom: 15px;
    font-weight: lighter;
    color: #2b2b2b;
    text-align: center;
    margin-top: 35px;
	
}


.about-section p
{
	text-align: justify;
	padding-bottom: 20px;

	
	
}



.about-section h2
{
	
	font-size: 20px;
	font-weight: 400;
}



.about-culture h2
{
	
	font-size: 24px;
	font-weight: 500;
	margin-top: 0px;
	
}


.about-culture-btn
{
	
	text-align: center;
}



.contact-form
{
	
	margin-bottom: 50px;
	
}

#contact-form
{
	
	padding-top: 50px;
}

.contact-btn
{
	text-align: center;
}




.market
{
	
	min-height: 500px;
}





.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #aa001d url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
	border-radius: 10px;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}



