{% macro active(activePage='home') %}
 <header>
 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-custom">
  <a class="navbar-brand" href="index.html"> <img src="images/easy_brand_logo.svg"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {%if activePage == 'home' %} active {% endif %}">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {%if activePage == 'pricing' %} active {% endif %}">
        <a class="nav-link" href="pricing.html">Pricing</a>
      </li>
        <li class="nav-item {%if activePage == 'customers' %} active {% endif %}">
        <a class="nav-link" href="customers.html">Customers</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="login.html">Login</a>
      </li>
      <li class="nav-item">
		  <a href="sign-up-trial.html"> <button type="submit" class="btn btn-default">GET YOUR FREE TRIAL</button></a>
      </li>
    </ul>
   
  </div>
</nav>
</header>
{% endmacro %}