<!DOCTYPE html>

{% extends "layout.html" %}

{% import 'macros/navigation.html' as navg %}

{% block content %}
{{navg.active('')}}
<section class="pricing-table">
  <div class="container"> <span><img src="images/easy_brand_logo_white_icon.svg"></span>
    <h1><strong>About</strong> Easy Brand</h1>
    <p>We are dedicated specialists who creates state of the <br>
      art solutions for Enterprise industries</p>
  </div>
</section>
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Who Are We?</h1>
        <p><strong>Easy Brand was founded in 2013,</strong> building on 15+ years’ experience in IT offshoring and a vision to challenge the existing models of global collaboration. The result is a uniquely creative and collaborative company that helps drive innovation, growth, and competitive advantage for its clients.</p>
      </div>
      <div class="col-md-12">
        <p> <strong>BASE:</strong> Langebrogade 6E, 4.sal1411 Kobenhave K <br>
          <strong>FOCUS:</strong> Global, with a strong base of clients in Denmark <br>
          <strong>WHO:</strong> A team of highly educated, experienced IT professionals </p>
      </div>
    </div>
  </div>
  <section class="about-culture">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Our Culture</h1>
          <h2>An inspirational place to work</h2>
          <p>Easy Brand is built on a strong belief in equality. Commitment to this value permeates everything we do: our processes, customers engagements —and how we find and nurture talent and work together as a team.</p>
          <p>We prefer to not conduct formal interviews; we would rather have conversations. We have decision makers, but no formal hierarchy. Everyone is heard, everyone is expected to contribute. We have tried-and-true processes, not rigid rules; we want people who think for themselves and on behalf of clients.</p>
          <p>Even when we’re not working together, we have fun together. We dine, we hike and we play a bit of football. If this sounds like an environment you would thrive in, we want to hear from you.</p>
          <div class="about-culture-btn"> <a href="contact.html">
            <button type="submit" class="btn btn-default">GET IN TOUCH</button>
            </a> </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %} 