<!DOCTYPE html>

{% extends "layout.html" %}

{% import 'macros/navigation.html' as navg %}

{% block content %}
{{navg.active('customers')}}
<section class="pricing-table">
  <div class="container"> <span><img src="images/ic_person_pin_white_24px.svg"></span>
    <h1><strong>Customer</strong> Success Journey</h1>
    <p>Our goal is to produce state of the art solutions for you to get the best<br>
      out of a project and to provide the best customer support</p>
  </div>
</section>
<section class="company-logos">
  <h1>Our satisfied Clients who are using Easy Brand</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/aon.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/vord.svg"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/dbc.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/embrace.png"></div>
      </div>
	  </div>
       <div class="row">
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/kell.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/bron.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/widex.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/fred.png"></div>
      </div>
    </div>
    
       <div class="row">
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/aon.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/vord.svg"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/dbc.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/embrace.png"></div>
      </div>
	  </div>
       <div class="row">
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/kell.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/bron.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container"><img src="images/companies/widex.png"></div>
      </div>
      <div class="col-sm-3">
        <div class="logos-container company-logos-height"><img src="images/companies/maqs.png"></div>
      </div>
    </div>
  </div>
</section>

<hr class="container">
<section class="case-studies">

	<h1>Case studies</h1>
	<p>Few stories from some of our rapid-growing customers</p>



  <div class="container">
    <div class="row">
     
      <div class="container col-lg-6 col-md-6 col-xs-12">
        <div class="case-study-container"> 
          <div class="case-study">
           <img src="images/case-study.png">
            <h4>Dynamic addon for Power Point </h4>
            <p>Get the basics right. Automatically create on-brand and personalized sign-offs for all users, and easily embed additional marketing content to signatures to promote live campaigns.</p>
          </div>
        </div>
      </div>
      <div class="container col-lg-6 col-md-6 col-xs-12">
        <div class="case-study-container">
          <div class="case-study">
            <img src="images/case-study.png">
            <h4>Dynamic addon for Outlook </h4>
            <p>Get the basics right. Automatically create on-brand and personalized sign-offs for all users, and easily embed additional marketing content to signatures to promote live campaigns.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  
  <div class="container case-study-more">
<a href="#"><button type="submit" class="btn btn-default">See more case studies →</button></a>
	</div>

</section>



<hr class="container">






<section class="testimonial-section">
	<h1>Testimonials</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="testimonial-content">
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum cumque dolore ducimus est exercitationem explicabo molestiae, velit! Eum nam porro voluptate. A aliquid asperiores assumenda consectetur cum dolore doloremque eius error fugiat id in ipsam ipsum laborum libero minus nam. "
                        </p>
                    </div>
                    <div class="pic">
                        <img src="images/img-1.jpg" alt="">
                    </div>
                    <h3 class="testimonial-title">Williamson</h3>
                    <span class="post">Web Designer</span>
                </div>
 
                <div class="testimonial">
                    <div class="testimonial-content">
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum cumque dolore ducimus est exercitationem explicabo molestiae, velit! Eum nam porro voluptate. A aliquid asperiores assumenda consectetur cum dolore doloremque eius error fugiat id in ipsam ipsum laborum libero minus nam. "
                        </p>
                    </div>
                    <div class="pic">
                        <img src="images/img-2.jpg" alt="">
                    </div>
                    <h3 class="testimonial-title">kristiana</h3>
                    <span class="post">Web Developer</span>
                </div>
                 <div class="testimonial">
                    <div class="testimonial-content">
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum cumque dolore ducimus est exercitationem explicabo molestiae, velit! Eum nam porro voluptate. A aliquid asperiores assumenda consectetur cum dolore doloremque eius error fugiat id in ipsam ipsum laborum libero minus nam. "
                        </p>
                    </div>
                    <div class="pic">
                        <img src="images/img-2.jpg" alt="">
                    </div>
                    <h3 class="testimonial-title">kristiana</h3>
                    <span class="post">Web Developer</span>
                </div>
                 <div class="testimonial">
                    <div class="testimonial-content">
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum cumque dolore ducimus est exercitationem explicabo molestiae, velit! Eum nam porro voluptate. A aliquid asperiores assumenda consectetur cum dolore doloremque eius error fugiat id in ipsam ipsum laborum libero minus nam. "
                        </p>
                    </div>
                    <div class="pic">
                        <img src="images/img-2.jpg" alt="">
                    </div>
                    <h3 class="testimonial-title">kristiana</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</div>

</section>








<!--END TESTIMONIALS - 10-08-2017--> 

{% endblock %} 