<!DOCTYPE html>

{% extends "layout.html" %}

{% import 'macros/navigation.html' as navg %}

{% block content %}
{{navg.active('')}}
<section class="pricing-table">
  <div class="container"> <span><img src="images/ic_help_white_24px.svg"></span>
    <h1><strong>faqs</strong> - Easy Brand</h1>
    <p>All plans include easy access to the modules and supported by latest MS Office. <br>
      Simply download
      and install. Just select based on the features you need.</p>
  </div>
</section>
<section class="faqs-questions">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Questions regarding Easy Brand Solution</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-sm-6 faq-questions-container">
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
      </div>
      <div class="col-xs-12 col-lg-6 col-sm-6 faq-questions-container">
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
      </div>
    </div>
  </div>
</section>
<hr class="container">
<section class="try-out">
  <div class="container">
    <h1>Got it now? Let's start creating<br>
      best branding templates..</h1>
    <div class=" try-btn"> <a href="sign-up.html">
      <button type="submit" class="btn btn-default marginer">Try it out</button>
      </a> </div>
  </div>
</section>
{% endblock %} 