<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}
<section class="pricing-table">
  <div class="container">
   <span><img src="images/ic_add_shopping_cart_white_24px.svg"></span>
	  <h1><strong>Addons</strong> Market Place</h1>
      <p>Compare all features according to your requirements.<br>
        Just pick features you need.</p>
   
  </div>
</section>


<section class="market">
 
 <!-- card start -->
    <div class="container">
    <div class="row">
     <div class="col-sm-4">
      <div class="card">
       <div class="card-header px-2">
        <h5 class="text-uppercase"><i class="fa fa-object-ungroup bg-gray p-3 font-2xl mr-3 float-left"></i> Slide Inserter</h5>
        <div class="text-muted font-xs">Visual, Branding</div>
       </div>
       <div class="card-block p-2 clearfix">        
        <div class="text-muted font-xs">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </div>
        <div class="avatars mt-4">
         <img src="img/powerpoint.svg" class="img-sm">
         <h3 class="float-right text-primary">$50.00</h3>
        </div>
       </div>
       <div class="card-footer px-3 py-2">
        <button class="btn btn-link px-0"><i class="icon-plus"></i> Add addon</button>
       </div>
      </div>
		</div></div>
	</div>
     <!-- card end -->
  
</section>

{% endblock %} 