<!DOCTYPE html>

{% extends "layout.html" %}

{% import 'macros/navigation.html' as navg %}

{% block content %}
{{navg.active('home')}}
<section class="home-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>With <strong>Easy Brand</strong> you can build better and <br>
          faster documents with ease..</h1>
        <!--<p>All plans include easy access to the modules and supported by latest MS Office. <br>
      Simply downloads
      and install. Just select based on the features you need.</p>--> 
        
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 home-feature-container"> <img src="images/header_img.jpg"> </div>
      <div class="col-md-12 hero-tag">
        <p>An ultimate solution for branding templates between<br>
          teams and departments with consistency and managment. </p>
      </div>
      <div class="col-md-12">
        <div class="hero-tag-btn"> <a href="sign-up.html">
          <button type="submit" class="btn btn-default">GET STARTED</button>
          </a> </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section class="how-it-works">
  <div class="container"> <span><img src="images/how-it-works-icon.svg"></span>
    <h1><strong>How</strong> it works!</h1>
    <p>Easy Brand can keep you on the track, and help users produce better work with less efforts. <br>
      Get started with the solution in four main steps:</p>
  </div>
</section>
<section class="how_page_bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-xs-12">
        <div class="first-circle-of-how"> <img src="images/how-step-1.svg"> </div>
        <div class="steps-box">
          <div class="container">
            <div class="row">
              <h1>Claim trial</h1>
              <p>Click on <a>GET FREE TRIAL</a> button on top right corner of this screen and fill up the form to get free trial of Easy Brand</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-xs-12">
        <div class="first-circle-of-how"> <img src="images/how-step-2.svg"> </div>
        <div class="steps-box">
          <div class="container">
            <div class="row">
              <h1>download </h1>
              <p>Get the link of the Easy Brand client after verifying your email. Download it to your PC and install it. It will ask paths for the relevant addons</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-xs-12">
        <div class="first-circle-of-how"> <img src="images/how-step-3.svg"> </div>
        <div class="steps-box">
          <div class="container">
            <div class="row">
              <h1>prepare</h1>
              <p>Launch the Easy Brand options from the Ribbon in MS OFFICE. You can select a template from there and Easy Brand will apply all the data</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-xs-12">
        <div class="first-circle-of-how"> <img src="images/how-step-4.svg"> </div>
        <div class="steps-box">
          <div class="container">
            <div class="row">
              <h1>customize</h1>
              <p>Just use the predefined template or get tons of addons from the Addons Library through User Portal after Sigining in</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="try-out">
  <div class="container">
    <h1>Start creating best branding<br>
      templates today..</h1>
    <div class=" try-btn"> <a href="sign-up.html">
      <button type="submit" class="btn btn-default marginer">Try it out</button>
      </a> </div>
  </div>
</section>
<section class="solution_header">
  <div class="container"> <span><img src="images/solution_ext.svg"></span>
    <h1>A professional Solution</h1>
    <p>Easy Brand can manage and share all your required templates in efficient manner. <br>
      It is a simplified solution to manage all the branding and templating solutions under one roof</p>
  </div>
</section>
<section class="solution_two">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Easy, Fast & convinent</h1>
        <p>Easy Brand integrates with the office suites used by companies every day, to bring custom company templates, brand assets and best practice content together directly inside any office application, streamlining how users build or rebuild files. Accessed from the cloud and available on all platforms and devices, Templafy ensures users get more done with their workday, with less frustration.</p>
      </div>
    </div>
  </div>
</section>
<section class="solution_three">
  <div class="container">
    <div class="row">
      <h1>Who need it?</h1>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h2>Brand Teams</h2>
        <article>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar tincidunt volutpat. Duis nisl turpis, cursus ut pharetra iaculis, congue id massa. Nam quis facilisis orci, sit amet ultricies sapien. Aenean cursus nisl sit amet tincidunt ultricies. Aliquam elit est, pharetra eu interdum eget, interdum quis nulla.</p>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <ul>
          <li><i><img src="images/ic_check_circle_white_48px.svg"></i><span>Ensure greatest brand consistency with - both internal and external</span></li>
          <li><i><img src="images/ic_check_circle_white_48px.svg"></i><span>Ensure greatest brand consistency with - both internal and external</span></li>
          <li><i><img src="images/ic_check_circle_white_48px.svg"></i><span>Ensure greatest brand consistency with - both internal and external</span></li>
          <li><i><img src="images/ic_check_circle_white_48px.svg"></i><span>Ensure greatest brand consistency with - both internal and external</span></li>
          <li><i><img src="images/ic_check_circle_white_48px.svg"></i><span>Ensure greatest brand consistency with - both internal and external</span></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 imge"> <img src="images/solution_3_who-need-it.svg"> </div>
    </div>
    <hr>
  </div>
</section>
<section class="try-out">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Any question regarding<br>
          features?</h1>
        <div class=" try-btn"> <a href="contact.html">
          <button type="button" class="btn btn-default marginer">Contact us</button>
          </a> </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 