<!DOCTYPE html>

{% extends "layout.html" %}

{% import 'macros/navigation.html' as navg %}

{% block content %}
{{navg.active('pricing')}}
<section class="pricing-table">
  <div class="container"> <span><img src="images/solution_ext.svg"></span>
    <h1><strong>pricing</strong> plans for all business types</h1>
    <p>All plans include easy access to the modules and supported by latest MS Office. <br>
      Simply download
      and install. Just select based on the features you need.</p>
  </div>
</section>
<section class="pricing-table-bg">
  <div class="pricing-table-2 container">
    <div class="row">
      <div class="columns">
        <ul class="price">
          <li class="header">Essential</li>
          <li><strong>Typically for small companies</strong></li>
          <li>Office template distribution</li>
          <li>Digital Asset Management (DAM)</li>
          <li>Office & Office 365 integration</li>
          <li>Optional DAM & CRM integrations</li>
          <li>Single Sign-on</li>
          <li>Online support</li>
          <li class="blue-c-addon">05 Users | 02 Addons</li>
          <li class="blue-c">$ 100</li>
          <li class="curver">
            <button type="submit" class="btn btn-default marginer">order</button>
          </li>
        </ul>
      </div>
      <div class="columns">
        <ul class="price-orange">
          <li class="header2">Professional</li>
          <li><strong>Typically for mid-sized companies</strong></li>
          <li>Everything in Essential, plus</li>
          <li>Dynamic template management</li>
          <li>Dynamic document builder</li>
          <li>Content access management</li>
          <li>Phone support & a personal agent</li>
          <li>Personal customer success manager</li>
          <li class="orange-c-addon">10 Users | 05 Addons</li>
          <li class="orange-c">$ 200</li>
          <li class="btn-orange curver">
            <button type="submit" class="btn btn-default marginer">order</button>
          </li>
        </ul>
      </div>
      <div class="columns">
        <ul class="price-red">
          <li class="header3">Enterprise</li>
          <li><strong>Typically for larger companies</strong></li>
          <li>Everything in Professional, plus</li>
          <li>Document compliance management</li>
          <li>Multiple federation options</li>
          <li>CRM and DAM integrations included</li>
          <li>Optional DMS integration</li>
          <li>24/7 support & guranteed SLA</li>
          <li class="red-c-addon">50 Users | 10 Addons</li>
          <li class="red-c">$ 300</li>
          <li class="btn-red curver">
            <button type="submit" class="btn btn-default marginer">order</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="feature-table">
  <div class="container"> <span><img src="images/ic_speaker_notes_white_48px.svg"></span>
    <h1>Full features list</h1>
    <p>Compare all features according to your requirements.<br>
      Just pick features you need.</p>
  </div>
</section>
<section class="table-responsive mobile-pad">
  <div class="container">
    <div class="row">
      <table class="plan table table-hover table-bordered table-striped text-center ">
        <thead>
          <tr>
            <th class="table-first-col">Features </th>
            <th>Essentials </th>
            <th>Professional </th>
            <th>Enterprise </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Package price</td>
            <td>$ 100</td>
            <td>$ 200</td>
            <td>$ 300</td>
          </tr>
          <tr>
            <td>number of licenses</td>
            <td>05 User Licenses</td>
            <td>10 User Licenses</td>
            <td>50 User Licenses</td>
          </tr>
          <tr>
            <td>number of addons</td>
            <td>02 addons</td>
            <td>05 addons</td>
            <td>10 addons</td>
          </tr>
          <tr>
            <td>Office template distribution</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Digital Asset Management (DAM)</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Office & Office 365 integration</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Optional DAM & CRM integrations</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Single Sign-on</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Online support</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Dynamic template management</td>
            <td>✗</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Dynamic document builder</td>
            <td>✗</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Content access management</td>
            <td>✗</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Phone support & a personal agent</td>
            <td>✗</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Personal customer success manager</td>
            <td>✗</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Document compliance management</td>
            <td>✗</td>
            <td>✗</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Multiple federation options</td>
            <td>✗</td>
            <td>✗</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>CRM and DAM integrations included</td>
            <td>✗</td>
            <td>✗</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Optional DMS integration</td>
            <td>✗</td>
            <td>✗</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>24/7 support & guranteed SLA</td>
            <td>✗</td>
            <td>✗</td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="try-out">
  <div class="container">
    <h1>Any question regarding features?</h1>
    <div class=" try-btn">
      <button type="button" class="btn btn-default marginer">Contact us</button>
    </div>
  </div>
</section>
<section class="features-addons">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Improve your workflows with these awesome add-ons..</h4>
      </div>
      <div class="container col-lg-6 col-md-6 col-xs-12">
        <div class="feature-img-1"> <img src="images/email.svg">
          <div class="dynamic-addon">
            <h4>Dynamic addon for Power Point </h4>
            <p>Get the basics right. Automatically create on-brand and personalized sign-offs for all users, and easily embed additional marketing content to signatures to promote live campaigns.</p>
          </div>
        </div>
      </div>
      <div class="container col-lg-6 col-md-6 col-xs-12">
        <div class="feature-img-1"> <img src="images/network.svg">
          <div class="dynamic-addon">
            <h4>Dynamic addon for Outlook </h4>
            <p>Get the basics right. Automatically create on-brand and personalized sign-offs for all users, and easily embed additional marketing content to signatures to promote live campaigns.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>
<section class="pricing_questions">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Questions regarding pricing</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-sm-6 questions-div">
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
      </div>
      <div class="col-xs-12 col-lg-6 col-sm-6 questions-div">
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
        <br>
        <article> <strong>Can I buy features xyz?</strong> <br>
          <p>Yes, you can customize your Easy Brand solution in multiple ways to meet your specific requirements. You can see what’s included in our price plans in the feature list, and which add-ons can be purchased on top. If you have any questions or requirements that are not covered by the feature list, we’re happy to help further. Click here to customize your experience.</p>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="try-out">
  <div class="container">
    <h1>Start creating best branding<br>
      templates today..</h1>
    <div class=" try-btn"> <a href="sign-up-trial.html">
      <button type="submit" class="btn btn-default marginer">Try it out</button>
      </a> </div>
  </div>
</section>
{% endblock %} 