<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>EasyBrand</title>

<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
<link href="css/styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.min.css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="images/small_logo.png">
</head>
<body>

{% block content %} {% endblock %}


<section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 footerleft ">
          <div class="logofooter logo_sizer"><img src="images/easy_brand_logo_white.svg"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
          <p><i class="fa fa-map-pin"></i> Langebrogade 6E, 4.sal1411 Kobenhave K </p>
          <p><i class="fa fa-phone"></i> Phone (Denmark) : +45 70 20 22 85</p>
          <p><i class="fa fa-envelope"></i> E-mail : info@easybrand.com</p>
          
			<div class="opti-logo"><p>A product of <br>  <img src="images/optimentor_logo.svg"></p></div>
        </div>
        <div class="col-md-6 col-sm-6 paddingtop-bottom">
          <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4500.187946269231!2d12.585632!3d55.669966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce5f0676749564fc!2sTrain+TV!5e0!3m2!1sen!2sus!4v1503396674905" width="100%" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy;<script>new Date().getFullYear()>2010&&document.write(" "+new Date().getFullYear());</script>, Easy Brand. - All Rights Reserved</p>
        </div>
        <div class="col-md-6">
          <ul class="bottom_ul">
            <li><a href="about.html">About us</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="press.html">Press Kit</a></li>
            <li><a href="http://www.optimentor.dk/">Optimentor.dk</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="#0" class="cd-top">Top</a>
	</div>
</section>




<script src="js/jquery-3.2.1.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script> 




<script>

$(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:2,
        itemsDesktop:[1199,2],
        itemsDesktopSmall:[979,1],
        itemsTablet:[768,1],
        itemsMobile:[600,1],
        pagination:false,
        navigation:true,
        navigationText:["",""],
        slideSpeed:1000,
        autoPlay:true
    });
});

</script>

</body>
</html>













